tr:nth-of-type(1)>th{
    background-color:rgb(175, 180, 181);
    border: solid 0.5px rgb(114, 112, 112);
}
/*tabla de asistencias*/

.container-asistencias {
    padding-left: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.container-asistencias table {
    background-color: #fff;
}
.tabla-asistencias-alumnos table {
    color:black;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    }


.tabla-asistencias-alumnos th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
    
}
.tabla-asistencias-alumnos td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.tabla-asistencias-alumnos tbody tr {
    cursor: pointer;
}
.tabla-asistencias-alumnos tbody tr:hover {
    background: wheat;
}

@media (max-width: 800px) {
.container-asistencias {
    display: flex;
    justify-content: flex-start;
    
}
.tabla-asistencias-alumnos th, .tabla-asistencias-alumnos td{
   font-size: 8px;
}
}